In [1]:
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
words = pd.read_csv('/usr/share/dict/words')

In [4]:
five_letter_words = words[words['A'].str.len() == 5.0]

In [5]:
five_letter_words['A'] = five_letter_words['A'].str.lower()

In [6]:
five_letter_words

            A
3       aalii
8       aaron
19      abaca
26      aback
34      abaff
...       ...
235713  zudda
235748  zygal
235795  zygon
235839  zymic
235840  zymin

[10230 rows x 1 columns]

In [7]:
import string

In [8]:
letters_to_numbers = dict(zip(string.ascii_lowercase, range(1,27)))

In [9]:
letters_to_numbers

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [10]:
def word_converter(word_str):
    re_text = []
    for digit in word_str:
        re_text.append(letters_to_numbers.get(digit, digit))
    return re_text

In [11]:
word_converter('apple')

[1, 16, 16, 12, 5]

In [12]:
def word_checker(word_str):
    return word_converter(word_str)[0] == word_converter(word_str)[-1] + word_converter(word_str)[-2] + word_converter(word_str)[-3] + word_converter(word_str)[-4]

In [13]:
five_letter_words['match'] = five_letter_words.A.apply(word_checker)

In [14]:
five_letter_words[five_letter_words.match == True]

            A  match
162734  raffe   True
172405  sadie   True
181167  sifac   True
197205  table   True
210148  uchee   True
226708  vakia   True
228544  vicia   True
230351  wanga   True
231505  whack   True
234119  xicak   True
234511  yeara   True
235087  zebra   True

In [15]:
for word in list(five_letter_words[five_letter_words.match == True].A.values):
    print(word)

raffe
sadie
sifac
table
uchee
vakia
vicia
wanga
whack
xicak
yeara
zebra